<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/e5b02af0ea.js" crossorigin="anonymous"></script>
		<title>Reset Password</title>
	</head>
	<body class=" form-bg">
		<main class="form-auth mt-5">
			<div class="container">
				<div class="card p-4">
					<div class="card-body">
						<h1 class="h3 mb-3 fw-normal">Reset Password</h1>
						<form action="" method="POST">
							<div class="mb-1">
								<label  class="form-label">Email </label>
								<input type="email" class="form-control" name="email" autofocus="">
							</div>
							<div class="mb-1">
								<label  class="form-label">Password baru</label>
								<input type="password" class="form-control" name="password">
							</div>
							<div class="mb-1">
								<label  class="form-label">Konfirmasi Password</label>
								<input type="password" class="form-control" name="confirm-password">
							</div>
							<div class="mb-3">
								<label  class="form-label">Token</label>
								<input type="text" class="form-control" name="token">
							</div>
							
						<button type="submit" class="btn btn-custom float-end">Reset Password</button>
						<a href="signin.html" class="btn btn-custom float-start">Kembali</a>
						</form>
					</div>
				</div>
			</div>
		</main>
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	</body>
</html>